@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 20px;
}

:root {
  @apply bg-slate-800 text-white;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

h2 {
  @apply text-xl font-extrabold;
}

h1 {
  @apply text-4xl font-extrabold my-2;
}

.title {
  @apply m-4;
}

.boxed {
  @apply border p-4 rounded-lg;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

textarea {
  @apply bg-slate-900 text-white border border-slate-700 p-2 w-full text-sm rounded-lg;
}

button {
  @apply text-white font-bold py-2 px-4 rounded min-w-20;
}

code {
  @apply bg-gray-950 p-0.5 text-white rounded-sm whitespace-nowrap;
}

.hidden-custom {
  /* visibility: hidden;
  opacity: 0; */
  max-height: 0px;
  /* transition: max-height 4s ease, opacity 4s ease; */
  opacity: 0;
  padding: 0;
  margin: 0;
}

.hidden-custom * {
  max-height: 0px;
  /* transition: max-height 4s ease, opacity 4s ease; */
  opacity: 0;
}

.visible-custom {
  /* visibility: visible; */
  /* opacity: 1; */
  max-height: 999px;
  opacity: 1000;
  transition: max-height 2s ease, opacity 2s ease, margin 2s ease,
    padding 2s ease;
  transition-property: max-height, opacity, marging, padding;
  transition-delay: 0s, 0s, 0s, 0s;
}

a {
  @apply underline;
}
