@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 24px;
}

:root {
  @apply bg-slate-800 text-white;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

h2 {
  @apply text-xl font-extrabold my-2;
}

h1 {
  @apply text-4xl font-extrabold my-2;
}

.title {
  @apply m-4;
}

.boxed {
  @apply border p-4 rounded-lg;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

textarea {
  @apply bg-slate-900 text-white border border-slate-700 p-2 w-full text-sm rounded-lg;
}
